{% extends "base.html" %}

{% block content %}
<h1>Roster Manager</h1>
<h2>View all rosters</h2>
{% if all_rosters %}
    <ul>
        {% for roster in all_rosters %}
            <!-- <li><a href="/rosters/view/{{ roster.id }}/"> {{ roster.title }}</a></li> -->
            <li><a href="{% url 'rostertools:view roster' roster.id %}"> {{ roster.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No rosters. :(</p>
{% endif %}
<h2>Mostly recently edited rosters</h2>
{% endblock content %}